<!-- review.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Shop&Buy</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Shop&Buy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/review">Reviews</a>
              </li> 
            </ul>
          </div>
        </div>
    </nav>
    
    <div class="container">
        <br>
        <div class="text-center"><h2>Review Details</h2></div>
        <br>
        <% if (review) { %> <!-- Check if review data exists -->
            <div>
                <p><b>Review Title:</b><br> <%= review.reviewTitle %></p>
                <p><b>Description:</b><br> <%= review.description %></p>
                <p><b>Rating:</b><br> <%= review.rating %></p>
                <p><b>Reviewer Name:</b><br> <%= review.reviewerName %></p>
                <p><b>Image:</b><br> <img src = "/images/<%= review.image %>" width="20%"></p>
            </div>
        <% } else { %>
            <p>No product found.</p>
        <% } %>
        <a href ="/">Back</a>
    </div>
    
</body>
</html>